@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue Light';
  src: url('/fonts/BebasNeue Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Microsoft PhagsPa';
  src: url('/fonts/phagspa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Microsoft PhagsPa Bold';
  src: url('/fonts/phagspab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@media (min-width: 992px) {
  .bg-about-lg{
    background-image: url('/images/Backgrounds/About.jpg');
  }
  .bg-products-lg{
    background-image: url('/images/Products/Productos2.png');
  }
  .bg-plantas-lg{
    background-image: url('/images/Products/PlantasPotabilizadoras.jpg');
  }
  .bg-piletas-lg{
    background-image: url('/images/Products/Piletas.jpg');
  }
  .bg-industrias-lg{
    background-image: url('/images/Products/Industrias.jpg');
  }
}

@media (max-width: 991px) {
  .bg-about-sm {
    background-image: url('/images/Backgrounds/About2.jpg');
  }
  .bg-products-sm {
    background-image: url('/images/Products/ProductosMobile.jpg');
  }
  .bg-plantas-sm {
    background-image: url('/images/Products/PlantasPotabilizadorasMobile.jpg');
  }
  .bg-piletas-sm {
    background-image: url('/images/Products/PiletasMobile.jpg');
  }
  .bg-industrias-sm {
    background-image: url('/images/Products/IndustriasMobile.jpg');
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.rotating-text-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-content {
  padding: 1rem;
  border: none;
}

.text-title {
  font-size: 2rem;
  font-weight: bold;
}

.text-paragraph {
  font-size: 1rem;
}